<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="cmsDashboard">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>CMS Project 2015</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="css/angular-chart.css"><!-- load chartjs -->

	<!-- IMPORT -->
	<script src="js/angular.min.js"></script><!-- load angular -->
	<!--<script src="js/ui-bootstrap-tpls-0.14.3.min.js"></script> load angular UI -->
	<script src="js/Chart.min.js"></script><!-- load Chartjs -->
	<script src="js/Chart.global.js"></script><!-- load Chartjs -->
	<script src="js/angular-chart.min.js"></script>

	<!-- SELF -->
	<script src="js/core.js"></script>
	<script src="js/controllers/dashboard.js"></script> <!-- load up our controller -->
	<style>
html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
}

.columns {
    /*background-color: #C9E6FF;*/
    height: 100%;   
}

.content-area, .article-tree{
    /*background: #bada55;*/
    /*overflow:auto;*/
    height: 100%;
}
.thumbnail{
	height: 150px;
}
	</style>
</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="dashboardCtl" ng-init="queryCis('event');">
<div class="container-fluid wrapper">

  <div class="row-fluid columns content"> 

    <div class="col-md-6 article-tree">
 		<div class="row-fluid content" style="height: 50%"> 
					<h3>Docker</h3> 
<!-- 					<div class="col-md-6" ng-repeat="(key, value) in statistics">
						<span class="thumbnail">
							<h4>{{ t2t(key) }}</h4> {{ value }}
						</span>
					</div> -->
					<div class="col-md-6">
						<span class="thumbnail">
							<h4>Docker Container</h4> <h1>{{ statistics['docker_container'] }}
						</span>
					</div>
					<div class="col-md-6">
						<span class="thumbnail">
							<h4>Docker Image</h4> <h1>{{ statistics['docker_image'] }}
						</span>
					</div>
					<div class="col-md-6">
						<span class="thumbnail">
							<h4>Installed Software</h4> <h1>{{ statistics['installed_software'] }}
						</span>
					</div>
					<div class="col-md-6">
						<span class="thumbnail">
							<h4>Docker Daemon</h4> <h1>{{ statistics['docker_daemon'] }}
						</span>
					</div>
 		</div>
 		<div class="row-fluid content" style="height: 50%"> 
					<h3>Openstack</h3> 
		<!-- 			<div class="col-md-6" ng-repeat="(key, value) in statistics">
						<span class="thumbnail">
							<h4>{{ t2t(key) }}</h4> {{ value }}
						</span>
					</div> -->
					<div class="col-md-6">
						<span class="thumbnail">
							<h4>Virtual Machines</h4> <h1>{{ statistics['host_node'] }}
						</span>
					</div>
					<div class="col-md-6">
						<span class="thumbnail">
							<h4>Image</h4> <h1>{{ statistics['openstack_image'] }}
						</span>
					</div>
		<!-- 			<div class="col-md-6">
						<span class="thumbnail">
							<h4>Docker Daemon</h4> <h1>{{ statistics['docker_daemon'] }}
						</span>
					</div> -->
		<!-- 			<div class="col-md-6">
						<span class="thumbnail">
							<h4>Docker Container</h4> <h1>{{ statistics['docker_container'] }}
						</span>
					</div> -->
 		</div>
    </div>

    <div class="col-md-6 content-area">
      <div class="row-fluid content" style="height: 50%"> 
				<h3>Docker Event Change</h3>
				<canvas id="line"class="chart chart-line" chart-data="lineChart.data" chart-labels="lineChart.labels" chart-legend="false" chart-series="lineChart.series" chart-options="lineChart.options"></canvas>
      </div>
      <div class="row-fluid content" style="height: 50%"> 
				<!-- RECORDS -->
				<div ng-show="cis" style="height: 90%; overflow: scroll">

					<p ng-show="cis.length==0">No Selected Element Layout for 
						<strong class="danger">{{ t2t(formData.ciType) }}</strong>
					</p>

					<table class="table table-striped">
						<thead>
							<tr ng-repeat="e in cis" ng-if="$first">
								<th ng-repeat="(key, value) in e" ng-show="key!='timestamp'">
									{{ t2t(key) }}
									<!-- <a class="glyphicon glyphicon-sort" aria-hidden="true" ng-click="order(key)"></a> -->
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="e in cis|filter:search|orderBy:'timestamp':true|startFrom:0|limitTo:100">
								<td ng-repeat="(key, value) in e" ng-show="key!='timestamp'">{{ value }}</td>
							</tr>
						</tbody>
					</table>

				</div>
      </div>
    </div>
  </div>

</div>

</body>
</html>
